body {
     background-image:url('../img/sfondo.png');
}

div.barra {
    position:fixed;
    z-index: 5;
    width:100%;
}

h4.title {
    text-align: right;
}

h4.left {
    text-align: left;
}

img.home {
    width:200px; 
    height:200px
}

div.myjumbotron {
    background-color: transparent; 
    text-align: center
}

div.myjumbotronPost {
    height:250px;
}

div.divOrizzontale {
    float:left;
    width:100%;
}

label.left {
    text-align:left;
}

div.postContainer {
    width: 50%;
}

div.postLeft {
    width:100px;
    float:left;
}

div.postRight {
    margin-left:10px;
    margin-right:0px;
    text-align:left;
    width:100%;
}

p.postDate {
    text-align:right;
}

img.post {
    width: 80px; 
    height: 80px;
    margin-top:10px;
}

div.postLink {
    text-align:right;
    margin-right:20px;
}

div.pagin {
    text-align:center;
}

img.table {
    width: 40px; 
    height: 40px; 
    margin-right: 40px;
}

img.table1 {
    width: 60px; 
    height: 60px; 
    margin-right: 10px;
    margin-bottom:10px;
}

img.desaturate {  
    -webkit-filter: grayscale(100%);
-moz-filter: grayscale(100%);
filter: grayscale(100%);
}

span.notify {
    background-color:red;
}

span.notnotify {
    background-color:gray;
}

img.createGroup {
    width: 80px; 
    height: 80px;
    margin-right: 20px;     
}

input.createGroup {
    float: left;
     margin-right:20px; 
     width:80%; 
}
button.createGroup {
    float: left;
    margin-top:5px;
}


/*---------------------------------------------NEW HOME-------------------------------------------------*/

div.mynavbar-right {
    width:50%;
}

input.newHome {
    /*email*/
    float: left;
    margin-right:10px; 
    width:30%; 
    margin-top:5px;
}

input.newHome1 {
    /*password*/
    float: left;
     margin-right:10px; 
     width:30%; 
     margin-top:5px;
}

button.newHome {
    /*login*/
    float:left;
     margin-top:5px;
}

button.newHome1 {
    /*registrazione*/
    float:left;
     margin-top:5px;
     margin-left:20px; 
}

div.jumbotronNewHome {
    margin-top:30px;
}

h3.newHome {
    margin-top:-30px;
}

div.ForgotPassword {
    position:absolute;    
    z-index: 6;
    margin-top:-27px;
    margin-left:64%;
}

a.newHome {
    font-size:11px;
}
/*------------------------------------------------REGISTRAZIONE-------------------------------------------------------*/
label.registrazione {
    float:left;
    margin-top:2px;
    margin-right:20px;
    font-size:20px;
    width:20%;
}

p.registrazione1 {
    margin-top:2px;
    margin-right:20px;
    font-size:20px;
    width:20%;
}

input.registrazione {
    margin-bottom:10px;
    width:70%;
}

div.registrazioneRegole {
    width:100%;
    height: 80px;
    overflow:auto;
}

/*------------------------------------------------MODERATORE-------------------------------------------------------*/

table.tablesorter th { 
  cursor: pointer; 
}
